<a href="/books/<%= book.id() %>">
  <h1><%= book.title() %></h1>
</a>

<% book.authors.each() do |author| %>
  <h5><%= author.last_name() %>, <%= author.first_name() %></h5>
<% end %>

<% if book.checked_out?() %>
  <h5>This book is checked out.</h5>
<% else %>
  <a href="/books/<%= book.id() %>/checkout">Check out this book</a>
<% end %>
